.container {
	border: 0.25rem solid var(--border-default-color);
	width: var(--list-width);
	height: 64vh;
}

.listContainer {
	width: 100%;
	height: calc(100% - var(--list-header-height));
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.list {
	position: relative;
}

.listHeader {
	height: var(--list-header-height);
}
