.container {
	/* border: 4px solid var(--border-default-color); */
	border: 0.4rem solid fuchsia;
	width: 90vw;
	height: 50vh;
}

.listContainer {
	width: 100%;
	height: calc(100% - var(--list-header-height));
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.list {
	border: 1px solid var(--border-default-color);
	position: relative;
}

.listHeader {
	height: var(--list-header-height);
}

.button {
	margin: 2rem 0;
}
